AIRTABLE_APP_KEY=
AIRTABLE_API_KEY=
HUBHUB_APP_KEY=
HUBHUB_API_KEY=

# Google Ruby Client looks for these
STORAGE_PROJECT=project_id_from_service_account_credentials_json
# use same credentials json here
STORAGE_CREDENTIALS='{"content":"Service Account Credentials JSON as one huge string"}'
GOOGLE_CREDENTIALS='{"content":"Service Account Credentials JSON as one huge string"}'
# this and above vars work with https://github.com/buyersight/heroku-google-application-credentials-buildpack.git
GOOGLE_APPLICATION_CREDENTIALS=google-credentials.json

GCS_BUCKET=bucket_name

ACTION_NETWORK_API_KEY=
MOBILIZE_AMERICA_INFO=key1_org1,key2_org2
