AIRTABLE_APP_KEY=
AIRTABLE_API_KEY=
HUBHUB_APP_KEY=
HUBHUB_API_KEY=

# Google Ruby Client looks for these
STORAGE_PROJECT=project_id_from_service_account_credentials_json
STORAGE_CREDENTIALS='{"content":"Service Account Credentials JSON as one huge string"}'

GCS_BUCKET=bucket_name

ACTION_NETWORK_API_KEY=
MOBILIZE_AMERICA_INFO=key1_org1,key2_org2
